---
version: "3.7"
services:
  kasm:
    build: .
    image: ghcr.io/capsulecorplab/fprime-workspace-image:v3.4.0-1.0.0
    ports:
      - "6901:6901"
      - "50000:50000"
    environment:
      VNC_PW: password
    shm_size: '512m'
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    network_mode: bridge
    volumes:
      - type: bind
        source: ./kasm_user
        target: /home/kasm-user
    devices:
      - "/dev/ttyACM0"
      - "/dev/ttyUSB0"
    device_cgroup_rules:
      - "c 188:* rmw"
    privileged: true
    security_opt:
      - seccomp=unconfined
...
